<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <div>
        <ul>
          <li>User Id: <%= @user.id %></li>
          <li>User Email<%= @user.email %></li>
          <li>Is logged in: <%= logged_in? %></li>
          <li>Session id: <%= session[:session_id] %></li>
          <li>User Id from Session: <%= session[:user_id] %></li>
          <!--<li>Access Token: <%# current_user.access_token %></li>-->
        </ul>
      </div>
    </section>
  </aside>
</div>
<div class="row">
  <!--<div class="center"><%# link_to "Get Started!", oauth_start_path, class: "btn btn-lg btn-default" %></div>-->
  <div class="center">
    <%= link_to "Get Started!", courses_path, class: "btn btn-lg btn-default" %>
  </div>
</div>