<% provide(:title, "Edit Grading Standard") %>
<h1>Update Grading Standard</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@grading_standard) do |f| %>
        <%= render 'shared/grading_error_messages' %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.fields_for :grading_scheme do |sf| %>
            <%= sf.label :name %>
            <%= sf.text_field :name %>
            <%= sf.label :percentage %>
            <%= sf.text_field :percentage %>
        <% end %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>