<% provide(:title, 'New Grading Scheme') %>
<h1>New Grading Scheme</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@grading_standard) do |f| %>
        <%= render 'shared/grading_error_messages' %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.fields_for :grading_scheme do |gs_form| %>
            <%= render 'grading_scheme_fields', f: gs_form %>
        <% end %>

        <%= f.submit "Create New Grading Scheme", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>