<% provide(:title, 'Grading Scheme') %>

<div class="w3-cell-row">
  <strong> <%= @grading_standard[:title] %> </strong>
  <% @grading_standard.grading_scheme.each do |gs| %>
      <br/><%= gs.name %> : <%= gs.percentage %>
  <% end %>
</div>

<div class="w3-cell-row">
  <strong> <hr> </strong>
  <% @gs_params.each_pair do |k, v| %>
      <br/><%= k %> <%= v %>
  <% end %>
</div>