<% provide(:title, 'View Grades') %>
<% content_for(:header) do %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#grades_table').DataTable({
                "columnDefs": [ {
                    "targets": 0,
                    "orderable": false
                } ]
            });
        } );
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" >
<% end %>

<!-- <div class="panel panel-primary"> -->
  <!-- Default panel contents -->
  <!-- <div class="panel-heading">Grade Report</div> -->
  <!-- Table -->
  <table id="grades_table" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Course</th>
      <th>Section</th>
      <th>Full Name</th>
      <th>Student Id</th>
      <th>Final Score</th>
      <th>Final Grade</th>
    </tr>
    </thead>
    <tbodyq>
    <% @enrollments.each do |enrollment| %>
        <% if enrollment['type'] == 'StudentEnrollment' %>
            <tr>
              <td>
                <%= extract_details(enrollment['sis_section_id'], CourseDetail::SUBJECT).upcase %>
                <%= extract_details(enrollment['sis_section_id'], CourseDetail::NUMBER).upcase %>
              </td>
              <td><%= extract_details(enrollment['sis_section_id'], CourseDetail::SECTION).upcase %></td>
              <td><%= enrollment['user']['name'] %></td>
              <td><%= enrollment['user']['sis_user_id'] %></td>
              <td><%= enrollment['grades']['final_score'] %></td>
              <td><%= enrollment['grades']['final_grade'] %></td>
            </tr>
        <% end %>
    <% end %>
    </tbodyq>
  </table>
