<% provide(:title, 'View Grades') %>

<!-- <div class="panel panel-primary"> -->
  <!-- Default panel contents -->
  <!-- <div class="panel-heading">Grade Report</div> -->
  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>Course</th>
      <th>Section</th>
      <th>Full Name</th>
      <th>Student Id</th>
      <th>Final Score</th>
      <th>Final Grade</th>
    </tr>
    </thead>
    <tbody>
    <% @enrollments.each do |enrollment| %>
        <% if enrollment['type'] == 'StudentEnrollment' %>
            <tr>
              <td>
                <%= extract_details(enrollment['sis_course_id'], CourseDetail::SUBJECT).upcase %>
                <%= extract_details(enrollment['sis_course_id'], CourseDetail::NUMBER).upcase %>
              </td>
              <td><%= extract_details(enrollment['sis_course_id'], CourseDetail::SECTION).upcase %></td>
              <td><%= enrollment['user']['name'] %></td>
              <td><%= enrollment['user']['sis_user_id'] %></td>
              <td><%= enrollment['grades']['final_score'] %></td>
              <td><%= enrollment['grades']['final_grade'] %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
<!-- </div> -->

<% @enrollments.each do |enrollment| %>
    <p><%= enrollment%></p>
<% end %>
